name: Deploy Auto Scaling Web App

on:
  push:
    branches:
      - main
      - "*"

    paths:
        - "terraform/**/*"     

  workflow_dispatch:
    inputs:
        terraform_action:
          description: "Select the tarraform action to perform"
          required: true
          type: choice
          options:
                - "plan"
                - "apply"
                - "destroy"
env:
  TF_IN_AUTOMATION: true
  REGION: us-east-1

jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.0

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.REGION }}

      - name: Terraform Init
        run: terraform init

      - name: Terraform Plan
        run: terraform plan

      - name: Terraform Apply
        run: terraform apply --auto-approve
